{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><img src="/{{ entity.getWebPath }}" alt="{{ entity.title }}" /></td>
                <td><a href="{{ path('article_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('article_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
